:css
  ol li.list-group-item { 
      list-style: decimal inside;
      display: list-item;
  }

.container
  .row
    .page-header
      %h2
        =tt :title
  .row
    .col-md-12
      .row
        - tt('leads.first').each do |v|
          %p= v
        %blockquote.strong
          - tt('visions.vision.bodies').each do |v|
            %p= v
        - tt('leads.second').each do |v|
          %p= v
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title= tt('visions.vision.title')
        .panel-body
          - tt('visions.vision.bodies').each do |v|
            %p= v

      .panel.panel-default
        .panel-heading
          %h3.panel-title= tt('visions.guidelines.title')
        %ol.list-group
          - tt('visions.guidelines.bodies').each do |v|
            %li.list-group-item= v

    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title= tt('visions.missions.title')
        %ol.list-group
          - tt('visions.missions.bodies').each do |v|
            %li.list-group-item
              %h4.list-group-item-heading=v[:title]
              %p.list-group-item-text=v[:body]
