= form_for @feedback, html: {role: :form} do |f|
  =f.hidden_field :lat,id: :lat
  =f.hidden_field :lng,id: :lng
  =f.hidden_field :remote_ip
  %fieldset{name: 'about_you'}
    %legend お客様について
    .row
      .col-md-6
        .form-group.form-inline
          =f.label :name ,class: %w(control-label required)
          =f.text_field :name,:size => 48,placeholder: '山岡 太郎', :class => "form-control"
      .col-md-3
        .form-group.form-inline
          =f.label :age ,class: %w(control-label required)
          =f.select :age,age_opts,{include_blank: '----'},{class: 'form-control'}
      .col-md-3
        .form-group.form-inline
          =f.label :male ,class: %w(control-label required)
          =f.select :male,{'男性' => true, '女性' => false},{include_blank: '----'},{class: 'form-control'}
      .col-md-6
        .form-group.form-inline
          =f.label :mail_addr,class: %w(control-label required)
          =f.text_field :mail_addr,placeholder: 'taro@yamaokaya.com',size:48,class: "form-control"
      .col-md-6
        .form-group.form-inline
          =f.label :mail_addr_confirmation,class: %w(control-label required)
          =f.text_field :mail_addr_confirmation,placeholder: '確認のため、同じアドレスを入力してください。',size:48, class: "form-control"
      .col-md-6
        .form-group.form-inline
          =f.label :address,class: 'control-label'
          =f.text_field :address,size:62, class: 'form-control'
      .col-md-6
        .form-group.form-inline
          =f.label :phone,class: 'control-label'
          =f.text_field :phone,placeholder: '090-1234-5678', class: 'form-control'
  %fieldset{name: 'about_shop'}
    %legend ご来店時の店舗の状況
    .row
      .col-md-6
        .form-group.form-inline
          =f.label :shop_id,class: 'control-label'
          =f.select :shop_id,option_groups_from_collection_for_select(Area.all,:shops, :name, :id, :name,selected_key = @feedback.shop_id),{include_blank: '----'},{class: 'form-control'}
          -#%button#search_shop{'style' => 'display:none', 'data-return-id' => 'feedback_shop_id','data-href' => url_for(action: :search),:type => 'button',title:'位置情報を利用してお近くの店舗を検索します。'} お近くの店舗を検索
      .col-md-6
        .form-group.form-inline
          =f.label :visit_date,class: 'control-label'
          =f.date_select :visit_date,{start_year:1.years.ago.year,end_year:1.years.since.year,use_month_numbers:true,default:Time.now,date_separator: '/'},{class: ['form-control','mini']}
      .col-md-6
        .form-group.form-inline
          =f.label :visit_time,class: 'control-label'
          =f.select :visit_time,time_opts,{include_blank: '----'},{class: 'form-control'}
      .col-md-6
        .form-group.form-inline
          =f.label :repetition,class: 'control-label'
          =f.select :repetition,rep_opts,{include_blank: '----'},{class: 'form-control'}
  %fieldset{name: 'about_qsca'}
    %legend お食事やサービスについて
    .row
      .col-md-12
        .form-group.form-inline
          =f.label :menu_id,class: 'control-label'
          =f.select :menu_id,option_groups_from_collection_for_select(categorized_menu_opts,:menus, :name, :id, :name,selected_key = @feedback.menu_id),{include_blank: '----'},{class: 'form-control'}
      .col-md-6
        .form-group.form-inline
          .row
            .col-md-12
              =f.label :quality
            .col-md-12
              - Feedback.qualities.each do |e|
                =f.label "quality_#{e[0]}" do
                  =f.radio_button :quality,e[0]
                  =Feedback.human_attribute_name e[0]
      .col-md-6
        .form-group.form-inline
          .row
            .col-md-12
              =f.label :service
            .col-md-12
              - Feedback.services.each do |e|
                =f.label "service_#{e[0]}" do
                  =f.radio_button :service,e[0]
                  =Feedback.human_attribute_name e[0]
      .col-md-6
        .form-group.form-inline
          .row
            .col-md-12
              =f.label :cleanliness
            .col-md-12
              - Feedback.cleanlinesses.each do |e|
                =f.label "cleanliness_#{e[0]}" do
                  =f.radio_button :cleanliness,e[0]
                  =Feedback.human_attribute_name e[0]
      .col-md-6
        .form-group.form-inline
          .row
            .col-md-12
              =f.label :atomosphere
            .col-md-12
              - Feedback.atomospheres.each do |e|
                =f.label "atomosphere_#{e[0]}" do
                  =f.radio_button :atomosphere,e[0]
                  =Feedback.human_attribute_name e[0]
  %fieldset{name: 'message'}
    %legend ご意見・ご感想がありましたらご記入ください。
    .form-group.form-inline
      .row
        .col-md-12.col-xs-12
          =f.text_area :message,class:"form-control",size: '110x10'
  %fieldset{name: 'reply'}
    %legend ご返信について
    .form-group.form-inline
      = f.label :reply
      = f.radio_button :reply,false,checked: true
      = f.label :reply_false
      = f.radio_button :reply,true
      = f.label :reply_true
  %fieldset{name: 'remarks'}
    .col-xs-12
      %ul  
        %li ご入力いただいた情報は暗号化されて送信されます。
        %li お問合せ、ご意見すべてに、必ずしも返信をお約束するものではありません。ご了承くださいませ。
        %li メールアドレスの入力には特にご注意ください。間違ったアドレスが入力された場合、ご返信させていただけないことがございます。
        %li
          お客様の環境（セキュリティソフトなど）により、まれに正しく送信されない場合がございます。
          その際は、お手数ですがセキュリティソフトをいったん無効にしていただくか、
          %a{href:"mailto:info@yamaokaya.com"} info@yamaokaya.com
          まで直接ご意見をお寄せ下さいますよう、お願い申し上げます。
    .col-xs-12.text-center
      = f.submit '送信', class: "btn btn-primary"
#aja{title:'お近くの店舗を表示しています'} 
-if @feedback.errors.any?
  #error_explanation.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type => "button",aria:{hidden: true},data:{dismiss: 'modal'}} &times;
          %h4.modal-title 
            %span.glyphicon.glyphicon-warning_sign
            #{@feedback.errors.count}件のエラーが発生しています。
        .modal-body
          %ul
            - @feedback.errors.full_messages.each do |message|
              %li=message
          .text-right
            %button.btn.btn-default{type: :button,data:{dismiss: :modal}} 閉じる
  :coffeescript
    $  ->
      $('#error_explanation').modal('show')
-unless notice.nil?
  -feedback = Feedback.find_by(id: notice)
  #thanks.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type => "button",aria:{hidden: true},data:{dismiss: 'modal'}} &times;
          %h4.modal-title 
            %span.glyphicon.glyphicon-message_out
            ありがとうございます。
        .modal-body
          %p
            貴重なご意見をいただき、まことにありがとうございました。
            -if feedback.reply
              5営業日以内を目処に担当者よりメールにてご返信させていただきます。
          %table.table
            %caption ご意見の内容
            %thead
            %tfoot
            %tbody
              %tr
                %th=Feedback.human_attribute_name(:mail_addr)
                %td=feedback.mail_addr
              -if feedback.name?
                %tr
                  %th=Feedback.human_attribute_name(:name)
                  %td=feedback.name
              -if feedback.address?
                %tr
                  %th=Feedback.human_attribute_name(:address)
                  %td=feedback.address
              -if feedback.phone?
                %tr
                  %th=Feedback.human_attribute_name(:phone)
                  %td=feedback.phone
              -if feedback.shop_id?
                %tr
                  %th=Feedback.human_attribute_name(:shop_id)
                  %td=feedback.shop.name
              -if feedback.visit_date?
                %tr
                  %th=Feedback.human_attribute_name(:visit_date)
                  %td=l feedback.visit_date
              -if feedback.menu_id?
                %tr
                  %th=Feedback.human_attribute_name(:menu_id)
                  %td=feedback.menu.name
              %tr
                %th=Feedback.human_attribute_name(:quality)
                %td=Feedback.human_attribute_name(feedback.quality)
              %tr
                %th=Feedback.human_attribute_name(:service)
                %td=Feedback.human_attribute_name(feedback.service)
              %tr
                %th=Feedback.human_attribute_name(:cleanliness)
                %td=Feedback.human_attribute_name(feedback.cleanliness)
              %tr
                %th=Feedback.human_attribute_name(:atomosphere)
                %td=Feedback.human_attribute_name(feedback.atomosphere)
              -if feedback.message?
                %tr
                  %th{colspan:2}
                    =Feedback.human_attribute_name(:message)
                %tr
                  %td{colspan:2}
                    =feedback.message

          .text-right
            %button.btn.btn-default{type: :button,data:{dismiss: :modal}} 閉じる
  :coffeescript
    $  ->
      $('#thanks').modal('show')