.panel.panel-default
	-shop.releases.each do |r|
		-unless r.body.nil?
			.panel-heading
				%h4.panel-title=r.title
			.panel-body
				=release_body r.body
	-unless shop.closed?
		.panel-heading
			%h4.panel-title 店舗情報
		%table.table
			%tr
				%th 住所
				%td
					="〒#{shop.postal_code}"
					%br
					=shop.address
					%br
					%button.btn.btn-primary.btm-sm#show_shop{role: :button,type: :button}
						周辺の地図を表示
					%button.btn.btn-primary.btm-sm#find_route{role: :button,type: :button} 
						現在地からの道順を表示
			%tr
				%th 電話番号
				%td= shop.phone
			%tr
				%th 営業時間
				%td
					- shop.shop_hours_human.each do |h|
						=h
						- ss = shop.shop_status
						%span.label.pull-right{class: "label-#{ss[:status]}"}
							=ss[:text]
			%tr
				%th 目印・その他
				%td= shop.landmarks
			-if (shop.seats_at_counter || 0) + (shop.booths || 0) != 0
				%tr
					%th 客席
					%td
						-if (shop.seats_at_counter || 0) != 0
							%li カウンター席:#{shop.seats_at_counter}席
						-if (shop.booths || 0) != 0
							%li ボックス席:#{shop.booths}個
	-else
		.panel-heading
			%h4.panel-title #{shop.name} は営業を終了いたしました。
		.panel-body
			#{shop.name}は#{l(shop.close)}を持ちまして閉店させていただきました。
			これまでご愛顧いただきまして、まことにありがとうございました。
			よろしければ、近隣の店舗をご利用くださいませ。
