.panel.panel-default
	-if DateTime.new.between?(shop.inauguration,shop.close)
		%table.table
			%caption 店舗情報
			%tr
				%th 住所
				%td
					="〒#{shop.postal_code}"
					%br
					= shop.address
			%tr
				%th 電話番号
				%td= shop.phone
			%tr
				%th 営業時間
				%td
					- shop.shop_hours_human.each do |h|
						=h
			%tr
				%th 目印・その他
				%td= shop.landmarks
	-else
		.panel-body
			#{shop.name}は#{l(shop.close)}を持ちまして閉店させていただきました。
			長年に渡りご愛顧いただきまして、まことにありがとうございました。
			よろしければ、近隣の店舗をご利用くださいませ。